/* Cute little bounce when the user hovers over the wallaby */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.bounceOnHover:hover {
  animation: bounce 1s ease infinite;
}
