@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px); /* Adjust the height of the jump */
  }
  60% {
    transform: translateY(-15px); /* Adjust the height of the mid-jump */
  }
}

/* Add this to your component styles */
.bounceOnHover:hover {
  animation: bounce 1s ease infinite;
}
